<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		{% load static %}
		<title>Pro-Government Militias</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{% static 'dataentry/js/skel.min.js' %}"></script>
		<script src="{% static 'dataentry/js/skel-panels.min.js' %}"></script>
		<script src="{% static 'dataentry/js/init.js' %}"></script>
		
			<link rel="stylesheet" href="{% static 'dataentry/skel-noscript.css' %}" />
			<link rel="stylesheet" href="{% static 'dataentry/style.css' %}" />
			<link rel="stylesheet" href="{% static 'dataentry/style-desktop.css' %}" />
		
	</head>
	<body>

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper"> 
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/country/">Regions</a></li>
						<li><a href="/">About Us</a></li>
						<li><a href="/">Search</a></li>	
					</ul>
				</nav>
			</div>
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">Pro-Government Militias (LOKAL)</a></h1>
					<!--<span class="tag">By TEMPLATED</span>-->
				</div>
			</div>
		</div>
	<!-- Header --> 

	<!-- Main -->
		<div id="main">
			<div id="content" class="container">
				<section>
					<header>
						<h2>{% block main_heading %}Main Heading{%endblock %}</h2>
						<!--<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>-->
					</header>
					{% block content %}
					<p>
					Content
					</p>
					{% endblock %}
				</section>
			</div>
		</div>
	<!-- /Main -->

	<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>Hier Text einfügen</blockquote>
				</section>
			</div>
		</div>
	<!-- /Tweet -->

	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>Get in touch</h2>
						<span class="byline"><a href="/">Contact</a> | <a href="/">Privacy Protection</a> | <a href="/">Imprint</a></span>
					</header>
					<!--
					<ul class="contact">
						<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
						<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
						<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
						<li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
					</ul>
					-->
				</section>
			</div>
		</div>
	<!-- /Footer -->

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>


	</body>
</html>